
# Aplicaciones
*.apk
*.ap_

# Dalvik
*.dex

# Clases de Java
*.class

# Generados
bin/
gen/

# Configuraciones de Gradle
.gradle/
build/
/*/build/

# Configuraciones locales
local.properties

# Clase con configuración de IP
app/src/main/java/edu/tesis/healthyfood/conn

# mas propiedades del proyecto
.idea/**

# app.iml para build

app/app.iml

# iml del proyecto
*HealtyFood.iml
